* {
  background: rgb(12,20,20);
  background: linear-gradient(0deg, rgba(12,20,20,1) 0%, rgba(48,36,14,1) 100%);
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

body{
  padding: 60px;
}

input{
  color: goldenrod;
  font-size: 1.2rem;
  width: 100%;
}

/* .divImages{
   display: inline; 
  display: inline-block;
  margin: 15px;
}
.divImages img{
  max-width: 90px;
  max-height: 90px;
  min-height: 90px;
  min-width: 90px;
} */

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  margin:6px;
  overflow: hidden;
}

.card img{
  max-width: 150px;
  max-height: 150px;
  min-height: 150px;
  min-width: 150px;
}